@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-title {
    background: linear-gradient(
      to left,
      #f0ff6d 0%,
      #54ff5c 34%,
      #6498ff 68%,
      #ff0000 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .card-gradient {
    background: linear-gradient(to bottom, #00000000 40%, #000000 100%);
  }
  .container {
    @apply mx-auto max-w-6xl;
  }
  .folder-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 10%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 10%);
  }
}
